<ion-header>
  <ion-navbar>

    <ion-title text-center>
      Video Rater
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="displayInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- Search Video text box and button -->
  <ion-item>
    <ion-label floating>Search Videos</ion-label>
    <ion-input #videoSearchText></ion-input>
  </ion-item>
  <button ion-button block (click)="loadVideos(videoSearchText.value)">Search</button>

  <!-- Video list based on the text box value -->
  <ion-list>
    <ion-item text-wrap *ngFor="let video of videoItems" (click)="goToComments(video.id.videoId)">

      <!--Video Thumbnail-->
      <ion-thumbnail item-left *ngIf="video.snippet.thumbnails.default.url">
        <img src="{{video.snippet.thumbnails.default.url}}">
      </ion-thumbnail>

      <!--Video Title-->
      <p>{{video.snippet.title}}</p>

      <!--Right forward icon-->
      <ion-icon name="arrow-forward" item-right></ion-icon>

    </ion-item>
  </ion-list>


</ion-content>
